@import '../styles/variables';

.container {
    max-width: 100%;
    overflow-x: hidden;
    background: $dark;

    .placeholder {
        max-width: 100%;
        height: $navbar;
    }
    .main {
        max-width: 100%;
        min-height: 80vh;
    }
    
}