@import "../../../styles/variables";
@import "../../../styles/type";

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: auto 0;
  z-index: 100;

  // .trel {
  //   width: auto;
  //   height: 24px;
  // }

  // .cockrell {
  //   width: auto;
  //   height: 24px;
  // }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 16px 0;
    li {
      display: inline;
      list-style: none;
      float: left;
      margin: 0 8px;
      a {
        svg {
          width: auto;
          height: 24px;
          path {
            color: $light;
            fill: $light;
          }
        }
        img {
          width: auto;
          height: 24px;
        }
      }
    }
  }
  p {
    font-size: pem(20px);
    margin-bottom: 0;
    color: white;
  }
}
