@import "../../../styles/variables";
@import "../../../styles/type";

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    z-index: 100;

    svg {
        object-fit: contain;
    }
    
    ul {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
        margin-top: 0;

        li {

            &:first-of-type {
                margin-left: 0;
            }
            display: inline;
            list-style: none;
            margin-left: pem(30px);
            
            a {

                svg {
                    width: pem(20px);
                    height: pem(20px);

                    path {
                        color: $light;
                        fill: $light;
                    }
                }
            }
        }
    }

    p {
        font-size: pem(20px);
        margin-bottom: 0;
        color: white;
    }
}

@media screen and (max-width: 850px) {
    .footer {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: pem(25px);
        padding-top: pem(20px);

        &>* {
            justify-self: start;

            &:nth-child(2n) {
                justify-self: end;
            }
        }

        ul {
            grid-area: 1 / 1 / 2 / 2;
        }

        p {
            grid-area: 1 / 2 / 2 / 3;
        }
    }
}

@include mobile() {
    .footer {

        svg {
            margin-top: pem(30px);
            &:last-of-type {
                padding-left: pem(50px);
            }
        }

        ul {
            padding-right: pem(50px);
            li {
                a {
                    svg {
                        margin-top: 0;

                        &:last-of-type {
                            padding-left: 0;
                        }
                    }
                }
            }
        }
    }
}