@import "../../../styles/variables";
@import "../../../styles/type";

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-left: 30px;
    margin-bottom: 20px;
    z-index: 100;

    .trel {
        width: auto;
        height: 24px; 
    }

    .cockrell {
        width: auto;
        height: 24px;
    }
    
    ul {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
        margin-top: 0;

        li {
            display: inline;
            list-style: none;
            margin-left: 20px;
            a {
                svg {
                    width: auto;
                    height: 24px;
                    path {
                        color: $light;
                        fill: $light;
                    }
                    @include for-mobile {
                        height: 20px;
                    }
                }
                img{
                    width: auto;
                    height: 24px;
                }
            }
        }
    }

    p {
        font-size: pem(20px);
        margin-bottom: 0;
        color: white;
    }

    @include for-mobile {
        margin-left: 20px;
        width: 90%;
        .cockrell {
            display: none;
        }
        .trel {
            width: auto;
            height: 20px;
        }
    }
}