@import '../../../styles/variables';
@import '../../../styles/type';

.navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 97%;
    padding-top: 30px;
    z-index: 200;
    margin-left: 40px;
    svg {
        width: 100px;
        height: auto;
        path {
            color: $light;
            fill: $light;
        }
    }

    .item {
        display: flex;
        flex-direction: row;
        max-height: 80px;
        .counting {
            font-size: 20px;
            font-family: "Cousine";
            margin-left: 50px;
            cursor: default;
            @include for-tablet {
                display: none;
            }
            @include for-mobile {
                display: none;
            }
        }
    }
        .burger {
            color: $light;
            fill: $light;
            .rect1 {
                width: 30px; 
                height: 5px;
            }
            .rect2 {
                width: 30px; 
                height: 5px;
            }
            .rect3 {
                width: 30px; 
                height: 5px;
            }
        }
        .deskItems{
            padding: 0;
            margin-top: 0;
            margin-right: 24px;
            list-style: none;
            li {
                float: left;
                margin-left: 48px;
                a {
                    font-size: 20px;
                    text-decoration: none;
                    opacity: 0.7;
                    transition: opacity 0.5s;
                }
                a:hover {
                    opacity: 1;
                }
            }
        }
    // @include for-tablet {
    //     display: none;
    // }
    // @include for-mobile {
    //     display: none;
    // }
}

.placeholder {
    position: fixed;
    background-color: $dark;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    height: 75px;
    z-index: 1;
}

.burgerMenu {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    background-color: $dark;
    z-index: 200;
    top: -100vh;
    left: 0;
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    ul {
        padding-top: 100px;
        li {
            text-align: right;
            margin-right: 60px;
            margin-bottom: 20px;
            list-style: none;
            a {
                font-size: 56px;
                font-family: 'Coanda';
                font-weight: bold;
            }
        }
    }
}