// media queries
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1366px;
$breakpoint-highres: 1920px;

@mixin for-mobile() {
    @media (max-width: $breakpoint-mobile) { @content; }
}
@mixin for-tablet() {
    @media (max-width: $breakpoint-tablet) { @content; }
}
@mixin for-laptop() {
    @media (max-width: $breakpoint-laptop) { @content; }
}
@mixin for-highres() {
    @media (max-width: $breakpoint-highres) { @content; }
}

// COLOR
$dark: #000000;
$light: #f3f3f3;


// TYPOGRAPHY
$sans: 'Aeonik', sans-serif;
$mono: 'Coanda', monospace;

@font-face {
    font-family: 'Aeonik';
    src: url('../public/fonts/AeonikTRIAL-Light.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Aeonik';
    src: url('../public/fonts/AeonikTRIAL-Regular.otf') format("opentype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Aeonik';
    src: url('../public/fonts/AeonikTRIAL-Bold.otf') format("opentype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Aeonik';
    src: url('../public/fonts/AeonikTRIAL-LightItalic.otf') format("opentype");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Aeonik';
    src: url('../public/fonts/AeonikTRIAL-RegularItalic.otf') format("opentype");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Aeonik';
    src: url('../public/fonts/AeonikTRIAL-BoldItalic.otf') format("opentype");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Coanda';
    src: url('../public/fonts/CoandaTRIAL-Regular.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Coanda';
    src: url('../public/fonts/CoandaTRIAL-Light.otf') format("opentype");
    font-weight: light;
    font-style: normal;
}
@font-face {
    font-family: 'Coanda';
    src: url('../public/fonts/CoandaTRIAL-Bold.otf') format("opentype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Cousine';
    src: url('../public/fonts/Cousine-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

// MOLTEN LEADING
$min-font: 13;
$max-font: 23;
$min-width: 480;
$max-width: 2400;

// mobile support
$mobile-min-font: 10;
$mobile-max-font: 13;
$mobile-min-width: 270;
$mobile-max-width: 500;

// etc
$navbar: 100px;

// FUNCTIONS
@function pem($pixel, $context: 18px) {
    @return ($pixel / $context) * 1em;
}

@function wid($percent, $context: 97) {
    @return ($percent * $context) / 100; 
}
@function hei($percent, $context: 92) {
    @return ($percent * $context) / 100; 
}