// media queries
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;

@mixin for-mobile() {
    @media (max-width: $breakpoint-mobile) { @content; }
}
@mixin for-tablet() {
    @media (max-width: $breakpoint-tablet) { @content; }
}

// COLOR
$dark: #000000;
$light: #f3f3f3;


// TYPOGRAPHY
$sans: 'Aeonik', sans-serif;
$mono: 'Coanda', monospace;


// MOLTEN LEADING
$min-font: 13;
$max-font: 23;
$min-width: 480;
$max-width: 2400;

// mobile support
$mobile-min-font: 10;
$mobile-max-font: 13;
$mobile-min-width: 270;
$mobile-max-width: 500;



// FUNCTIONS
@function pem($pixel, $context: 18px) {
    @return ($pixel / $context) * 1em;
}

@function wid($percent, $context: 97) {
    @return ($percent * $context) / 100; 
}
@function hei($percent, $context: 92) {
    @return ($percent * $context) / 100; 
}