@import "variables";
@import "type";

.about {
    display: grid;
    z-index: 10;
    margin-top: pem(75px);

    .container {
        position: relative;
        width: 90%;
        max-width: pem(1250px);
        background-image: url('../public/images/whiteboard.png');
        background-color: white;
        align-self: center;
        justify-self: center;
        z-index: 10;
        padding: pem(120px) pem(80px) pem(110px) pem(80px);

        h1 {
            color: black;
            z-index: 10;
            font-size: pem(24px);
            line-height: 125%;
            letter-spacing: -0.01em;
        }

        .down_arrow {
            position: absolute;
            width: pem(16px);
            height: pem(81px);
            bottom: pem(-58px);
            background-image: url('../public/icons/bw-down-arrow.svg');
            background-size: contain;
            left: 50%;
            right: 50%;
        }
    }
}

.building, .huge, .sponsors, .place {
    display: grid;
    padding-top: pem(90px);
    z-index: 10;

    h1 {
        @extend %section-header;
        text-align: center;
        margin-bottom: pem(85px);
        z-index: 10;
    }

    a {
        z-index: 10;
    }
}

.building {

    h1 {
        margin-bottom: pem(50px, 95px);
    }

    .image_carousel {
        display: grid;
        grid-template-columns: pem(300px) pem(300px) pem(300px) pem(300px);
        grid-template-rows: pem(300px);
        column-gap: pem(75px);
        overflow: scroll;
        padding-left: pem(150px);
        padding-right: pem(150px);
        overflow-y: hidden;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
            display: none;
        }

        .carousel_item {
            position: relative;
            display: flex;
            flex-direction: column;
            align-self: center;

            h5 {
                font-size: pem(13px);
                font-family: 'Coanda';
                line-height: 125%;
                text-align: right;
                letter-spacing: 0;
            }

            img {
                object-fit: contain;
            }

            .caption {
                margin-top: pem(15px);
            }

            .funny {
                position: absolute;
                right: -35%;
                top: pem(-30px);
                
                &::before {
                    content: '';
                    position:absolute;
                    background-image: url('../public/icons/building-arrow.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: pem(12px);
                    height: pem(55.5px);
                    left: 45%;
                    top: pem(25px);
                }
            }
        }
    }

    .building_desc {
        display: flex;
        @extend %section-paragraph;
        justify-content: center;
        flex-flow: row wrap;
        padding: 0 pem(50px);
        
        p {
            width: pem(420px);
            padding: pem(20px);
            margin: pem(25px);
        }
    }
}

@include for-mobile() {
    .building {
        .building_desc {
            p {
                font-size: pem(20px, 15px);
                line-height: 150%;
                width: 80%;
                margin: pem(10px);
                padding: pem(20px) 0;
                margin: 0;
            }
        }
    }
}

.huge {
    grid-template-areas: "rocket title";
    grid-template-columns: 5fr pem(300px);
    padding: 0 pem(107px);
    margin-top: pem(125px);
    margin-bottom: pem(125px);
    column-gap: pem(50px);

    .title {
        grid-area: title;

        h1 {
            margin-top: pem(35px, 95px);
            margin-bottom: pem(35px, 95px);
            text-align: left;
        }
    
        h2 {
            text-align: left;
            font-size: pem(24px);
            padding-right: pem(30px);
        }
    }

    .hugerocket {
        display: grid;
        height: 75vh;
        grid-template-rows: 2fr 16fr 6fr 6fr;
        grid-template-columns: 3fr 2fr 2fr 2fr 1fr;

        .tics {
            grid-area: 1 / 5 / 5 / 6;
            height: 100%;
        }

        .bigtic, .smtic, .treltic {
            grid-column: 1 / 6;
            width: 92%;
            object-fit: cover;
        }

        .bigtic {
            grid-row: 2 / 3;
        }

        .smtic {
            grid-row: 3 / 4;
        }

        .treltic {
            grid-row: 4 / 5;
        }

        .halcyonrocket {
            grid-area: 2 / 4 / 5 / 5;
            height: 100%;
            object-fit: contain;
            align-self: end;
        }

        .dumby {
            grid-area: 3 / 3 / 5 / 4;
            height: 100%;
            object-fit: contain;
            align-self: end;
        }

        .trellian {
            grid-area: 4 / 2 / 5 / 3;
            object-fit: contain;
            align-self: end;
        }

        .halcyonlabel, .dumbylabel, .trellianlabel {
            font-family: "Coanda";
            font-size: pem(18px);
            line-height: 125%;
            text-transform: lowercase;
            width: 60%;
            margin-top: pem(10px);
        }

        .halcyonlabel {
            grid-area: 2 / 1 / 3 / 2;
        }

        .dumbylabel {
            grid-area: 3 / 1 / 4 / 2;
        }

        .trellianlabel {
            grid-area: 4 / 1 / 5 / 2;
        }

        .trellianname {
            grid-area: 4 / 1 / 5 / 2;
            align-self: end;
            justify-self: end;
            text-align: right;
            font-size: pem(11px);
            line-height: 125%;
            margin-right: 5%;
            margin-bottom: pem(5px, 11px);
        }
    }
}

@include for-mobile() {
    .huge {
        grid-template-areas: "title" "rocket";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5fr;
        padding: 0 pem(25px);
        height: pem(900px);
        margin: pem(75px) 0;
        
        .hugerocket {
            display: grid;
            grid-template-rows: pem(40px) pem(40px*8) pem(40px*3) pem(40px*3);
            grid-template-columns: 2fr 1fr 1fr 1fr pem(40px);

            .tics {
                height: 100%;
            }
            
            .halcyonrocket, .trellian, .dumby {
                height: 100%;
            }

            .bigtic, .smtic, .treltic {
                grid-column: 1 / 6;
                width: 95%;
                object-fit: cover;
            }

            .trellianname {
                justify-self: start;
            }
        }
    }
}

.sponsors {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 0 pem(107px);

    h1 {
        margin-bottom: pem(40px, 95px);
    }

    .logos {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: space-around;

        img {
            object-fit: contain;
            margin: pem(40px);

            &>* {
                color:black;
                fill:black;
            }
        }
    }

    .centerlink {
        display: flex;
        justify-content: center;
    }
}

@include for-mobile() {
    .sponsors {
        padding: 0 pem(25px);

        h1 {
            margin-bottom: pem(10px);
        }

        .logos {
            padding: pem(20px);

            img {
                object-fit: contain;
                height: pem(50px);
                margin: pem(30px);
            }
        }
    }
}

.place {
    grid-template-areas: ". title ." ". galaxy ." ". button .";
    grid-template-columns: 3fr 16fr 3fr;
    padding-bottom: pem(50px);
    margin-top: pem(75px);

    h1 {
        margin-bottom: 0;
        grid-area: title;
    }

    p {
        grid-area: galaxy;
        position: relative;
        font-family: 'Coanda';
        font-size: pem(18px);
        letter-spacing: -0.01em;
        text-align: right;
        align-self: center;

        &::before {
            content: '';
            position: absolute;
            width: pem(251px);
            height: pem(19px);
            background-image: url('../public/icons/austin-location.svg');
            background-size: contain;
            background-repeat: no-repeat;
            right: pem(40px);
            bottom: pem(-30px);
            z-index: 11;
        }
    }

    .milky {
        grid-area: galaxy;
        align-self: center;
        justify-self: center;
        width: 100%;
    }

    div {
        grid-area: button;
        justify-self: center;
        align-self: center;
    }
}

@include for-mobile() {
    .place {
        grid-template-columns: 1fr 16fr 1fr;
        margin-top: pem(50px);
    }
}