@import "variables";
@import "type";

.dadbod {
    font-size: 25px;
    background-color: $dark;
    h1 {
        font-size: 3.6em;
    }
    h2 {
        font-size: 2.5em;
        font-weight: bold;
    }
    h3 {
        font-size: 1.5em;
    }
    h4 {
        font-size: 0.8em;
        font-weight: lighter;
        letter-spacing: 0.5px;
    }
    h5 {
        font-size: 0.65em;
        font-weight: lighter;
        letter-spacing: 0.5px;
    }
    .hero {
        margin-top: 200px;
        height: 70vh;
        .heroTitle {
            text-align: center;
            .span1 {
                font-weight: bold;
                color: #5756ca;
            }
            .span2 {
                font-weight: bold;
                color: #e69e32;
            }
            @include for-mobile {
                font-size: 60px;
            }
        }
        .heroBody {
            margin: 20px auto 0 auto;
            max-width: 780px;
        }
    }
    .secTitle {
        margin-top: 180px;
        text-align: center;
        .body {
            margin: 20px auto 50px auto;
            max-width: 780px;
        }
    }
    .initEntry {
        display: flex;
        flex-direction: row;
        max-width: 780px;
        margin: 0 auto 30px auto;
        .initTitle {
            font-weight: bold;
            min-width: 300px;
            margin-right: 20px;
            @include for-tablet {
                margin-bottom: 10px;
            }
            @include for-mobile {
                margin-bottom: 10px;
            }
        }
        .initGroup {
            margin: 0 auto 0 auto;
            .initBody {
                margin-bottom: 15px;
            }
            .initLink h5 {
                color: rgb(255, 98, 98);
            }
        }
        @include for-tablet {
            flex-direction: column;
        }
        @include for-mobile {
            flex-direction: column;
        }
    }
    .graphFlex{
        display: flex;
        justify-content: center;
        margin-top: 120px;
        .text {
            width: 270px;
            margin-top: 20px;
            margin-right: 100px;
            h3 {
                font-weight: bold;
            }
            .legend {
                display: flex;
                flex-direction: row;
                margin: 30px 0 0 30px;
                .colorIcon {
                    width: 20px;
                    height: 20px;
                    margin-right: 20px;
                }
            }
        }
        .graph {
            display: flex;
            flex-direction: row;
            width: 400px;
        }
    }
    .storyTable {
        width: 800px;
        margin: 70px auto 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .storyMember {
            .storyTitle {
                font-weight: bold;
                margin-top: 10px;
                text-align: center;
            }
        }
    }
    .joinate {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 60px auto 300px auto;
        .donate {
            margin-right: 200px;
        }
    }
}
