@import "variables";
@import "type";

.dadbod {
    font-size: 25px;
    h1 {
        font-size: 3.6em;
    }
    h2 {
        font-size: 2.5em;
        font-weight: bold;
    }
    h3 {
        font-size: 1.5em;
    }
    h4 {
        font-size: 0.8em;
        font-weight: lighter;
        letter-spacing: 0.5px;
    }
    h5 {
        font-size: 0.7em;
        font-weight: lighter;
        letter-spacing: 0.5px;
    }
    .hero {
        margin-top: 200px;
        height: 70vh;
        .heroTitle {
            text-align: center;
            .span1 {
                font-weight: bold;
                color: #5756ca;
            }
            .span2 {
                font-weight: bold;
                color: #e69e32;
            }
        }
        .heroBody {
            margin: 20px 400px 0 400px;
        }
    }
    .secTitle {
        margin-top: 150px;
        text-align: center;
        .body {
            margin: 20px 390px 0 390px;
        }
    }
    .initTable {
        width: 800px;
        margin: 100px auto 0 auto;
        .initEntry {
            display: flex;
            flex-direction: row;
            width: 800px;
            margin-bottom: 30px;
            .initTitle {
                font-weight: bold;
                width: 300px;
            }
            .initGroup {
                width: 500px;
                .initBody {
                    margin-bottom: 15px;
                }
            }
        }
    }
    .graphFlex{
        display: flex;
        justify-content: center;
        margin-top: 120px;
        .text {
            width: 270px;
            margin-top: 20px;
            margin-right: 100px;
            h3 {
                font-weight: bold;
            }
            .legend {
                display: flex;
                flex-direction: row;
                margin: 30px 0 0 30px;
                .colorIcon {
                    width: 20px;
                    height: 20px;
                    margin-right: 20px;
                }
            }
        }
        .graph {
            display: flex;
            flex-direction: row;
            width: 400px;
        }
    }
    .storyTable {
        width: 700px;
        margin: 100px auto 0 auto;
        .storyMember {
            display: flex;
            flex-direction: row;
            margin-bottom: 30px;
            .storyProfile {
                padding-left: 20px;
                width: 500px;
                .storyTitle {
                    font-weight: bold;
                }
                .storyBody {
                    margin-top: 20px;
                }
            }
        }
    }
    .joinate {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 40px auto 200px auto;
        .donate {
            margin-right: 200px;
        }

    }
}
