@import "./variables";
@import "./type";

.container {
  top: 0;
  left: 0;
  .highlight {
    color: $theme1;
  }
  .hero {
    height: 100vh;
    .notVideo {
      position: relative;
      top: 40vh;
      left: 16%;
      z-index: 102;
      .heroTitle,
      .heroSub {
        text-align: left;
        cursor: default;
      }
      .heroTitle {
        margin-bottom: 20px;
        .hoverable {
          color: $light;
          transition: color 0.2s;
        }
        .hoverable:nth-child(odd):hover {
          color: $theme1;
        }
        .hoverable:nth-child(even):hover {
          color: $theme2;
        }
      }
      .heroSub {
        line-height: 32px;
        @include for-tablet {
          font-size: 20px;
          width: 320px;
          line-height: 24px;
        }
      }
      @include for-tablet {
        left: 4%;
      }
      @include for-mobile {
      }
    }
    .backgroundFrame {
      position: absolute;
      display: flex;
      justify-content: center;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100vh;
      width: auto;
      overflow: hidden;
      margin: 0 auto;
      .heroVid {
        object-fit: cover;
        display: inline-block;
        min-height: 100vh;
        width: 100vw;
        margin: auto;
        z-index: 101;
        opacity: 40%;
        vertical-align: middle;
        @include for-tablet {
        }
        @include for-mobile {
        }
      }
    }
  }
  .section1 {
    height: 100vh;
    .backgroundFrame {
      position: absolute;
      display: flex;
      justify-content: center;
      top: 100vh;
      left: 0;
      right: 0;
      height: 100vh;
      width: auto;
      overflow: hidden;
      margin: 0 auto;
      .placeholder {
        object-fit: cover;
        display: inline-block;
        min-height: 100vh;
        width: 100vw;
        margin: auto;
        opacity: 0.4;
      }
    }
    .contentT {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      text-align: center;
      top: 16%;
      margin: 0 auto;
      width: 600px;
      .break {
        width: 20px;
        margin: 20px 0;
        border: 1px solid $light;
        border-radius: 1px;
      }
      @include for-tablet {
        max-width: 600px;
        width: 100vw;
      }
    }
  }
  .section2 {
    height: 100vh;
    .backgroundFrame {
      position: absolute;
      display: flex;
      justify-content: center;
      top: 200vh;
      left: 0;
      right: 0;
      height: 100vh;
      width: auto;
      overflow: hidden;
      margin: 0 auto;
      .placeholder {
        object-fit: cover;
        display: inline-block;
        min-height: 100vh;
        width: 100vw;
        margin: auto;
        opacity: 0.4;
      }
    }
    .contentL {
      position: relative;
      text-align: left;
      top: 32vh;
      left: 16%;
      margin: 0;
      width: 600px;
      .title {
        margin-bottom: 16px;
      }
      .break {
        width: 20px;
        margin: 20px 0;
        border: 1px solid $light;
        border-radius: 1px;
      }
      .body {
        margin-bottom: 36px;
      }
      .button {
        position: relative;
        margin: 0 8px;
        transition: 0.08s ease-in;
        -o-transition: 0.08s ease-in;
        -ms-transition: 0.08s ease-in;
        -moz-transition: 0.08s ease-in;
        -webkit-transition: 0.08s ease-in;
      }
      .button:before {
        content: "";
        position: absolute;
        background: $light;
        opacity: 0.6;
        top: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        transition: top 0.09s ease-in;
        -webkit-transition: top 0.09s ease-in;
      }
      .button:hover:before {
        top: 0;
      }
      // .button:hover {
      //   border-radius: 20px;
      // }
      @include for-tablet {
        left: 4%;
        width: 92vw;
      }
      @include for-mobile {
      }
    }
  }
  .section3 {
    height: 100vh;
    .backgroundFrame {
      position: absolute;
      display: flex;
      justify-content: center;
      top: 300vh;
      left: 0;
      right: 0;
      height: 100vh;
      width: auto;
      overflow: hidden;
      margin: 0 auto;
      .placeholder {
        object-fit: cover;
        display: inline-block;
        min-height: 100vh;
        width: 100vw;
        margin: auto;
        opacity: 0.4;
      }
    }
    .contentM {
      position: relative;
      text-align: center;
      top: 32vh;
      max-width: 800px;
      margin: 0 auto;
      .title {
        margin-bottom: 16px;
      }
      .break {
        width: 20px;
        margin: 20px 0;
        border: 1px solid $light;
        border-radius: 1px;
      }
      .body {
        margin-bottom: 36px;
      }
      .button {
        position: relative;
        margin: 0 8px;
        transition: 0.08s ease-in;
        -o-transition: 0.08s ease-in;
        -ms-transition: 0.08s ease-in;
        -moz-transition: 0.08s ease-in;
        -webkit-transition: 0.08s ease-in;
      }
      .button:before {
        content: "";
        position: absolute;
        background: $light;
        opacity: 0.6;
        top: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        transition: top 0.09s ease-in;
        -webkit-transition: top 0.09s ease-in;
      }
      .button:hover:before {
        top: 0;
      }
      // .button:hover {
      //   border-radius: 20px;
      // }
      @include for-tablet {
        left: 4%;
        width: 92vw;
      }
      @include for-mobile {
      }
    }
  }
}
