@import './variables';
@import "./type";

.container {
    display: flex;
    flex-direction: column;
    h1, h2, h3, p {
        color: $light;
    }

    .hero {
        margin-top: 30vh;
        margin-bottom: 20vh;
        .notVideo {
            position: relative;
            z-index: 102;
            .heroTitle, .heroSub {
                text-align: center;
            }
            .heroTitle {
                font-size: 3rem;
                line-height: 100px;
                @include for-tablet {
                    font-size: 4rem;
                    line-height: 70px;
                    margin-bottom: 20px;
                }
                @include for-mobile {
                    
                }
            }
            .heroSub {
                font-size: 2rem;
            }
            .heroArrow {
                display: block;
                margin: auto;
                margin-top: hei(20vh);
                path {
                    color: $light;
                    stroke: $light;
                    fill: $light;
                }
                circle {
                    stroke: $light;
                }
            }
        }
        .heroVid {
            position: absolute;
            object-fit: contain;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 101;
            opacity: 40%;
            @include for-tablet {
                display: none;
            }
            @include for-mobile {
                display: none;
            }
        }
    }
    .section {
        margin: 10% 175px 0 175px;
        display: flex;
        flex-direction: row;
        h3 {
            font-size: 2.7rem;
            font-weight: bold;
            @include for-mobile {
                font-size: 3rem;
            }
        }
        h2 {
            font-size: 1.8rem;
            opacity: 0.5;
            @include for-tablet {
                margin-top: 10px;
            }
        }
        h1 {
            font-size: 3rem;
            letter-spacing: 0.1rem;
            font-weight: bold;
        }
        p {
            font-size: 1.3rem;
            letter-spacing: 0.03rem;
            line-height: 50px;
            @include for-tablet {
                font-size: 1.5rem;
                margin-top: 10px;
            }
            @include for-mobile {
                font-size: 2rem;
                margin-top: 20px;
                line-height: 35px;
            }
        }
        .thumb {
            width: 70%;
            height: auto;
            .rocketeers, .halcyonthumb {
                width: 100%;
                height: auto;
            }
            .halcyonthumb {
                cursor: pointer;
            }
            .slideshow {
                width: 100%;
                overflow: hidden;
                .slider1 {
                    display: flex;
                    animation: scroll1 16s linear infinite;
                    .slide {
                        display: flex;
                        justify-content: center;
                        overflow: visible;
                        height: 100px;
                        // use bottom two variables to calc slider width
                        width: 250px;
                        margin: 0 100px 16px 100px;
                    }
                }
                .slider2 {
                    // animation: scroll 10s linear infinite;
                    display: flex;
                    animation: scroll2 12s linear infinite;
                    .slide {
                        display: flex;
                        justify-content: center;
                        overflow: visible;
                        height: 100px;
                        // use bottom two variables to calc slider width
                        // a little harder bc 3 smalls + 1 large logo
                        width: 250px;
                        margin: 0 80px 16px 80px;
                        .small {
                            width: 100px;
                            height: auto;
                        }
                    }
                }
                .slider3 {
                    // animation: scroll 10s linear infinite;
                    display: flex;
                    animation: scroll3 8s linear infinite;
                    .slide {
                        display: flex;
                        justify-content: center;
                        overflow: visible;
                        height: 100px;
                        // use bottom two variables to calc slider width
                        width: 250px;
                        margin: 0 60px 16px 60px;
                    }
                }
            }
            @include for-tablet {
                width: 100%;
            }
        }
        @include for-tablet {
            flex-direction: column;
            margin: 10% 10px 0 10px;
        }
        @include for-mobile {
            flex-direction: column;
            margin: 10% 10px 0 10px;
        }
        .text {
            width: 40%;
            .halcyon {
                font-size: 4rem;
                cursor: pointer;
            }
            .linkbox {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                height: 50px;
                border-style: solid;
                border-color: $light;
                border-width: 2px;
                border-radius: 30px;
                transition: color 2s;
                cursor: pointer;
                p {
                    margin: 0 20px 0 20px;
                }
            }
            @include for-tablet {
                width: 100%;
            }
        }
        .break {
            width: 50px;
        }
        @include for-mobile {
            margin: 80px 20px 40px 20px;
        }
        
    }
    #sponsors {
        @include for-tablet {
            flex-direction: column-reverse;
        }
        @include for-mobile {
            flex-direction: column-reverse;
        }
    }
    .conclude {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 200px 175px 200px 175px;
        .blastoff {
            font-size: 3.5rem;
            letter-spacing: 0.2rem;
            font-weight: bold;
        }
        .linebreak {
            height: 80px;
            @include for-tablet {
                eight: 20px;
            }
            @include for-mobile {
                height: 20px;
            }
        }
        .identity {
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            .sponsor, .educator, .applicant {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 400px;
                height: 500px;
                border-style: solid;
                border-color: $light;
                border-width: 3px;
                border-radius: 10px;
                cursor: pointer;
                svg {
                    width: 80%;
                    height: auto;
                    margin-bottom: 50px;
                    ellipse, path, circle {
                        fill: none;
                        stroke: $light;
                        stroke-width: 6px;
                    }
                    @include for-mobile {
                        display: none;
                    }
                }
                @include for-mobile {
                    flex-direction: row;
                    width: 90%;
                    height: 50px;
                    margin-bottom: 10px;
                }
            }
            .break {
                width: 80px;
                @include for-tablet {
                    width: 40px;
                }
                @include for-mobile {
                    width: 50px;
                }
            }
            @include for-tablet {
                width: 100%;
            }
            @include for-mobile {
                flex-direction: column;
            }
        }
        @include for-tablet {
            margin: 20% 10px 40px 10px;
            width: 100%;
        }
        @include for-mobile {
            margin: 20% 10px 40px 10px;
            width: 100%;
        }
    }
}

// animations + quirky features
@keyframes scroll1 {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(calc(-100px*2 - 250px) * 2))}
}
@keyframes scroll2 {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(calc(-80px*2 - 250px) + calc(-80px*2 - 100px) * 3))}
}
@keyframes scroll3 {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(calc(-58px*2 - 250px) * 4))}
}
