@import "variables";
@import "type";

.container {
    display: flex;
    flex-direction: column;
    h1, h2, h3, p {
        color: $light;
    }

    .hero {
        margin-top: 30vh;
        margin-bottom: 100px;
        h1, h2 {
            text-align: center;
        }
        h1 {
            font-size: 3rem;
            line-height: 100px;
        }
        h2 {
            font-size: 2rem;
        }
        svg {
            display: block;
            margin: auto;
            margin-top: hei(20vh);
            path {
                color: $light;
                fill: $light;
            }
            circle {
                stroke: $light;
            }
        }
    }
    .section {
        margin: 10% 175px 0 175px;
        display: flex;
        flex-direction: row;
        .thumb {
            width: 70%;
            height: auto;
            p {
                font-size: 1rem;
                letter-spacing: 0.03rem;
                line-height: 45px;
                text-align: justify;
            }
            .rocketeers, .halcyonthumb {
                width: 100%;
                height: auto;
            }
            .halcyonthumb {
                cursor: pointer;
            }
            .slideshow {
                width: 100%;
                overflow: hidden;
                .slider1 {
                    display: flex;
                    animation: scroll1 16s linear infinite;
                    .slide {
                        display: flex;
                        justify-content: center;
                        overflow: visible;
                        height: 100px;
                        // use bottom two variables to calc slider width
                        width: 250px;
                        margin: 0 100px 16px 100px;
                    }
                }
                .slider2 {
                    // animation: scroll 10s linear infinite;
                    display: flex;
                    animation: scroll2 12s linear infinite;
                    .slide {
                        display: flex;
                        justify-content: center;
                        overflow: visible;
                        height: 100px;
                        // use bottom two variables to calc slider width
                        // a little harder bc 3 smalls + 1 large logo
                        width: 250px;
                        margin: 0 80px 16px 80px;
                        .small {
                            width: 100px;
                            height: auto;
                        }
                    }
                }
                .slider3 {
                    // animation: scroll 10s linear infinite;
                    display: flex;
                    animation: scroll3 8s linear infinite;
                    .slide {
                        display: flex;
                        justify-content: center;
                        overflow: visible;
                        height: 100px;
                        // use bottom two variables to calc slider width
                        width: 250px;
                        margin: 0 60px 16px 60px;
                    }
                }
            }
        }
        .text {
            width: 40%;
            h3 {
                font-size: 2rem;
                font-weight: bold;
            }
            h2 {
                font-size: 1.3rem;
                opacity: 0.5;
            }
            h1 {
                font-size: 3rem;
                letter-spacing: 0.1rem;
                font-weight: bold;
            }
            .halcyon {
                font-size: 4rem;
                cursor: pointer;
            }
            .linkbox {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                height: 50px;
                border-style: solid;
                border-color: $light;
                border-width: 2px;
                border-radius: 30px;
                transition: color 2s;
                p {
                    margin: 0 20px 0 20px;
                }
            }
        }
        .break {
            width: 50px;
        }
    }
    .conclude {
        margin: 200px 175px 200px 175px;
        text-align: center;
        .blastoff {
            font-size: 3.5rem;
            letter-spacing: 0.2rem;
            font-weight: bold;
        }
        .linebreak {
            height: 80px;
        }
        .identity {
            $size: 500px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            .sponsor, .educator, .applicant {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: $size;
                height: $size / 4 * 5;
                border-style: solid;
                border-color: $light;
                border-width: 3px;
                border-radius: 10px;
                svg {
                    width: 80%;
                    height: auto;
                    margin-bottom: 50px;
                    cursor: pointer;
                    ellipse, path, circle {
                        fill: none;
                        stroke: $light;
                        stroke-width: 6px;
                    }
                }
            }
            .break {
                width: $size / 4;
            }
        }
    }
}

// animations + quirky features
@keyframes scroll1 {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(calc(-100px*2 - 250px) * 2))}
}
@keyframes scroll2 {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(calc(-80px*2 - 250px) + calc(-80px*2 - 100px) * 3))}
}
@keyframes scroll3 {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(calc(-58px*2 - 250px) * 4))}
}
