@import "variables";
@import "type";

.container {
  top: 0;
  left: 0;
  background-color: $dark;

  .section1 {
    height: 100vh;
    .backgroundFrame {
      position: absolute;
      display: flex;
      justify-content: center;
      top: 0;
      left: 0;
      right: 0;
      height: 100vh;
      width: auto;
      overflow: hidden;
      margin: 0 auto;
      .background {
        object-fit: cover;
        display: inline-block;
        min-height: 100vh;
        width: 100vw;
        margin: auto;
        opacity: 0.4;
      }
    }
    .content {
      position: relative;
      top: 48vh;
      margin: 0;
      width: 100%;
      h1,
      h5 {
        text-align: center;
      }
    }
  }
  .section2 {
    height: auto;
    margin: 48px auto;
    padding-left: 48px;
    max-width: 1300px;
    .content {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: auto 0;

      width: 84%;
      color: $light;
      .intro {
        width: 640px;
        :nth-child(1) {
          margin-bottom: 20px;
        }
        :nth-child(2) {
          margin-left: 36px;
          width: 564px;
          @include for-tablet {
            width: auto;
            margin-left: 0;
          }
        }
      }
      .info {
        max-width: 400px;
        .pill {
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 100%;
          margin-top: 20px;
          margin-left: 48px;
          background-color: rgb(32, 32, 32);
          transition-duration: 0.2s;
          cursor: default;
          :nth-child(1) {
            padding: 20px 16px 20px 36px;
          }
          hr {
            height: 20px;
            width: 1px;
            padding: 0;
          }
          :nth-child(3) {
            padding: 20px 36px;
          }
        }
        .pill:hover {
          border-radius: 36px;
        }
        .pill:nth-child(odd):hover {
          background-color: $theme1;
        }
        .pill:nth-child(even):hover {
          background-color: $theme2;
        }
      }
      @include for-tablet {
        align-items: center;
        .info {
          margin-top: 20px;
          .pill {
            margin-left: 0;
          }
        }
      }
    }
  }
  .section3 {
    max-width: 1300px;
    height: auto;
    margin: 64px auto;
    padding-left: 48px;
    .content {
      position: relative;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin: auto 0;

      max-width: 800px;
      width: 84vw;
      color: $light;
      :nth-child(1) {
        margin-bottom: 16px;
      }
      :nth-child(2),
      :nth-child(3) {
        margin-left: 42px;
        @include for-tablet {
          margin-left: 0;
        }
      }
      :nth-child(2) {
        margin-bottom: 8px;
      }
    }
  }
  .section4 {
    height: auto;
    margin: 64px auto;
    padding-left: 48px;
    display: flex;
    justify-items: center;
    max-width: 1300px;
    .content {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: auto 0;

      width: 84%;
      color: $light;
      .intro {
        width: 640px;
        :nth-child(1) {
          margin-bottom: 20px;
        }
        :nth-child(2) {
          margin-left: 36px;
          width: 564px;
          @include for-tablet {
            width: auto;
            margin-left: 0;
          }
        }
      }
      .info {
        max-width: 400px;
        .pill {
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 100%;
          margin-top: 20px;
          margin-left: 48px;
          background-color: rgb(32, 32, 32);
          transition-duration: 0.2s;
          cursor: default;
          :nth-child(1) {
            padding: 20px 16px 20px 36px;
          }
          hr {
            height: 20px;
            width: 1px;
            padding: 0;
          }
          :nth-child(3) {
            padding: 20px 36px;
          }
        }
        .pill:hover {
          border-radius: 36px;
        }
        .pill:nth-child(odd):hover {
          background-color: $theme1;
        }
        .pill:nth-child(even):hover {
          background-color: $theme2;
        }
      }
      @include for-tablet {
        align-items: center;
        .info {
          margin-top: 20px;
          .pill {
            margin-left: 0;
          }
        }
      }
    }
  }
  .section5 {
    height: auto;
    margin: 64px auto;
    padding-left: 48px;
    display: flex;
    justify-items: center;
    max-width: 1300px;
    .backgroundFrame {
      position: absolute;
      display: flex;
      justify-content: center;
      opacity: 0.4;
      top: 80vh;
      left: 0;
      right: 0;
      height: 48vh;
      width: auto;
      overflow: hidden;
      margin: 0 auto;
      background-color: rgb(175, 141, 229);
    }
    .content {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: auto 0;
      width: 84%;
      color: $light;
      .intro {
        width: 640px;
        :nth-child(1) {
          margin-bottom: 20px;
        }
        :nth-child(2) {
          margin-left: 36px;
          width: 564px;
          @include for-tablet {
            width: auto;
            margin-left: 0;
          }
        }
      }
      .info {
        max-width: 400px;
        .pill {
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 100%;
          margin-top: 20px;
          margin-left: 48px;
          background-color: rgb(32, 32, 32);
          transition-duration: 0.2s;
          cursor: default;
          :nth-child(1) {
            padding: 20px 16px 20px 36px;
          }
          hr {
            height: 20px;
            width: 1px;
            padding: 0;
          }
          :nth-child(3) {
            padding: 20px 36px;
          }
        }
        .pill:hover {
          border-radius: 36px;
        }
        .pill:nth-child(odd):hover {
          background-color: $theme1;
        }
        .pill:nth-child(even):hover {
          background-color: $theme2;
        }
      }
      @include for-tablet {
        align-items: center;
        .info {
          margin-top: 20px;
          .pill {
            margin-left: 0;
          }
        }
      }
    }
  }
  .section6 {
    height: auto;
    margin: 80px auto;
    padding-left: 48px;
    max-width: 1300px;
    .title {
      text-align: left;
      margin-bottom: 32px;
    }
    .flex {
      display: flex;
      justify-items: center;
      flex-wrap: wrap;
      .card {
        max-width: 280px;
        padding: 10px;
        :nth-child(1) {
          font-weight: bold;
          margin-bottom: 16px;
        }
        :nth-child(2) {
        }
      }
    }
  }
}
