@import "variables";
@import "type";

.dadbod {
    font-size: 25px;
    background-color: $dark;
    h1 {
        font-size: 3.6em;
        font-weight: bold;
    }
    h2 {
        font-size: 2.5em;
        font-weight: bold;
    }
    h3 {
        font-size: 1.5em;
        font-weight: bold;
    }
    h4 {
        font-size: 0.8em;
        font-weight: lighter;
        letter-spacing: 0.5px;
    }
    h5 {
        font-size: 0.65em;
        font-weight: lighter;
        letter-spacing: 0.5px;
        line-height: 25px;
    }
    ul {
        margin: 0;
        padding-left: 15px;
        padding-top: 20px;
    }
    li {
        margin: 0;
        font-size: 0.6em;
        opacity: 0.8;
    }

    .hero {
        margin-top: 250px;
        margin-bottom: 400px;
        text-align: center;
    }

    .infoSession {
        .one {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
            width: 1300px;
            margin: 0 auto 200px auto;
            .text {
                .head {
                    display: flex;
                    flex-direction: row;
                    align-items: baseline;
                    word-wrap: break-word;
                    .number {
                        color: rgb(106, 106, 224);
                        font-family: 'Coanda';
                    }
                    .break {
                        width: 30px;
                    }
                    @include for-tablet {
                        width: 90vw;
                    }
                    @include for-mobile {
                        width: 90vw;
                    }
                }
                .body {
                    margin-left: 75px;
                    width: 600px;
                    .info {
                        margin-bottom: 20px;
                    }
                    .sessionDate {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        max-width: 500px;
                        margin-top: 10px;
                        .sessionHead {
                            font-weight: bold;
                            margin-right: 30px;
                        }
                        @include for-tablet {
                            justify-content: left;
                        }
                        @include for-mobile {
                            justify-content: left;
                        }
                    }
                    @include for-tablet {
                        width: 80vw;
                    }
                    @include for-mobile {
                        width: 80vw;
                    }
                }
            }
            .mapImbed {
                margin-top: 10px;
                height: 400px;
                width: 600px;
                @include for-laptop {
                    width: 30vw;
                }
                @include for-tablet {
                    visibility: hidden;
                }
            }
            @include for-laptop {
                justify-content: flex-start;
            }
            @include for-tablet {
                margin-left: 10px;
            }
            @include for-mobile {
                margin-left: 10px;
            }
        }
        .two {
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: flex-start;
            flex-wrap: wrap;
            width: 1300px;
            margin: 0 auto 0px auto;
            .text {
                margin-right: 20px;
                .head {
                    display: flex;
                    flex-direction: row;
                    align-items: baseline;
                    .number {
                        color: rgb(230, 139, 41);
                        font-family: 'Coanda';
                    }
                    .break {
                        width: 30px;
                    }
                }
                .body {
                    margin-left: 90px;
                    width: 560px;
                    .info {
                        margin-bottom: 20px;
                    }
                    @include for-tablet {
                        width: 80vw;
                    }
                    @include for-mobile {
                        width: 80vw;
                    }
                }
                .descriptions {
                    margin-left: 90px;
                    width: 560px;
                    .border {
                        margin: 50px 0 0 0;
                    }
                    .title {
                        margin: 20px 0 20px 0;
                        color: rgb(106, 106, 224);
                    }
                    .information {
                        line-height: 2em;
                    }
                    @include for-tablet {
                        display: none;
                    }
                    @include for-mobile {
                        display: none;
                    }
                }
            }
            .rightSide {
                display: flex;
                flex-direction: row;
                width: 630px;
                margin-top: 90px;
                margin-bottom: 200px;
                .roleTitle {
                    margin-top: 20px;
                    font-family: 'Coanda';
                    @include for-tablet {
                        text-align: center;
                        width: 100vw;
                    }
                    @include for-mobile {
                        text-align: center;
                        width: 100vw;
                    }
                }
                .posIndex {
                    display: flex;
                    flex-direction: column;
                    height: auto;
                    
                    .border {
                        opacity: 0;
                        margin: 0;
                        width: 360px;
                    }
                    @include for-tablet {
                        margin-top: 20px;
                    }
                    @include for-mobile {
                        margin-top: 20px;
                    }
                }
                @include for-tablet {
                    flex-direction: column;
                }
                @include for-mobile {
                    flex-direction: column;
                }
            }
            @include for-tablet {
                flex-direction: column;
            }
            @include for-mobile {
                flex-direction: column;
            }
        }
        .three {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
            width: 1300px;
            margin: 0 auto 250px auto;
            .text {
                width: 600px;
                margin-left: 10px;
                .head {
                    display: flex;
                    flex-direction: row;
                    align-items: baseline;
                    word-wrap: break-word;
                    .number {
                        color: rgb(106, 106, 224);
                        font-family: 'Coanda';
                    }
                    .break {
                        width: 30px;
                    }
                    @include for-tablet {
                        width: 90vw;
                    }
                    @include for-mobile {
                        width: 90vw;
                        margin-bottom: 20px;
                    }
                }
                .body {
                    margin-left: 90px;
                    padding-right: 100px;
                    width: 650px;
                    overflow-wrap: break-word;
                    .info {
                        margin-bottom: 20px;
                        .apply {
                            color: rgb(231, 166, 45);
                            cursor: pointer;
                        }
                    }
                    .sessionDate {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        max-width: 500px;
                        margin-top: 10px;
                        .sessionHead {
                            font-weight: bold;
                            margin-right: 30px;
                            
                        }
                        @include for-tablet {
                            justify-content: left;
                        }
                        @include for-mobile {
                            justify-content: left;
                        }
                    }
                    @include for-tablet {
                        width: 80vw;
                    }
                    @include for-mobile {
                        width: 80vw;
                    }
                }
                @media (max-width: 1300px) {
                    margin-bottom: 100px;     
                }
            }
            .text2 {
                width: 600px;
                margin-left: 10px;
                .head {
                    display: flex;
                    flex-direction: row;
                    align-items: baseline;
                    word-wrap: break-word;
                    .number {
                        color: rgb(230, 139, 41);
                        font-family: 'Coanda';
                    }
                    .break {
                        width: 30px;
                    }
                    @include for-tablet {
                        width: 90vw;
                    }
                    @include for-mobile {
                        width: 90vw;
                        margin-bottom: 20px;
                    }
                }
                .body {
                    margin-left: 90px;
                    padding-right: 60px;
                    width: 600px;
                    overflow-wrap: break-word;
                    .info {
                        margin-bottom: 20px;
                    }
                    .sessionDate {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        max-width: 500px;
                        margin-top: 10px;
                        .sessionHead {
                            font-weight: bold;
                            margin-right: 30px;
                        }
                        @include for-tablet {
                            justify-content: left;
                        }
                        @include for-mobile {
                            justify-content: left;
                        }
                    }
                    @include for-tablet {
                        width: 80vw;
                    }
                    @include for-mobile {
                        width: 80vw;
                    }
                }
            }
            @media (max-width: 1300px) {
                flex-direction: column;      
            }
            @include for-tablet {
                flex-direction: column;
            }
            @include for-mobile {
                flex-direction: column;
            }
        }
        .bonus {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            width: 100vw;
            max-width: 1300px;
            margin: 0 auto 250px auto;
            .text {
                .head {
                    display: flex;
                    flex-direction: row;
                    align-items: baseline;
                    word-wrap: break-word;
                    .number {
                        color: rgb(106, 106, 224);
                        font-family: 'Coanda';
                    }
                    .break {
                        width: 30px;
                    }
                    @include for-mobile {
                        flex-direction: column;
                        width: 90vw;
                    }
                }
                .body {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    margin-left: 70px;
                    padding-right: 100px;
                    overflow-wrap: break-word;
                    max-width: 1300px;
                    .bonusCard {
                        width: 21%;
                        margin: 0 20px 0 20px;
                        .number {
                            font-size: 2em;
                            color: rgb(230, 139, 41);
                            font-family: 'Coanda';
                        }
                        .head {
                            margin-bottom: 20px;
                            font-weight: bold;
                        }
                        @include for-tablet {
                            width: 40%;
                        }
                        @include for-mobile {
                            margin-top: 20px;
                        }
                        @media screen and (max-width: 570px) {
                            width: 80vw;
                        }
                    }
                    @include for-tablet {
                        margin-left: 0px;
                        margin-right: 10px;
                    }
                    @include for-mobile {
                        margin-left: 0px;
                        margin-top: 20px;
                    }
                }
            }
            @include for-tablet {
                margin-left: 10px;
            }
            @include for-mobile {
                margin-left: 10px;
            }
        }
    }
}    