@import "variables";
@import "type";

.hero {
    position: relative;
    height: pem(750px);
    display: grid;

    &::before {
        content: '';
        position: absolute;
        left: 50%;
        bottom: pem(75px);
        width: pem(16px);
        height: pem(88px);
        background-image: url('../public/icons/down-arrow.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    div {
        align-self: center;
    }

    h1 {
        font-size: pem(95px);
        line-height: 100%;
        letter-spacing: -0.02em;
        text-align: center;
    }

    h2 {
        margin-top: pem(30px);
        font-size: pem(24px);
        line-height: 125%;
        letter-spacing: -0.01em;
        text-align: center;
    }

}

.address {
    line-height: 16px;
    margin-bottom: 20px;
    margin-left: 40px;
    font-size: pem(21px);
}

.openpositions {
    position: relative;
    list-style: none;
    padding-left: 0;
    margin: 0;

    &>li {
        font-family: $mono;
        text-transform: lowercase;
        border-top: 1px solid white;
        padding-top: pem(4px);
    }

    &>ul {
        list-style: none;
        padding-left: 30%;
        padding-bottom: pem(24px);

        li>button {
            font-size: pem(20px);
            line-height: 1.5rem;
            background-color: transparent;
            font-family: $sans;
            color: white;
            outline: none;
            border: none;
            padding: 0;
            
            &:hover {
                cursor: pointer;
            }
        }

        mark {
            display: inline-block;
            line-height: 20px;
            background-color: #cecece;
            padding: 0 4px 0 4px;
            margin-right: 2px;
        } 
    }
}

.positions {
    display: flex;
    justify-content: space-between;

    &>* {
        width: pem(450px);
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            position: relative;
            list-style: none;
        }
    }

    p {
        font-size: pem(18px);
        letter-spacing: -0.01em;
        margin-left: pem(20px);
    }

    h4 {
        font-family: $mono;
        font-size: pem(18px);
        margin-bottom: pem(10px);
    }

    h5 {
        font-size: pem(32px);
        margin-top: pem(8px, 16px);
    }
}

.application {

    h2 {
        font-family: "Coanda";
        font-size: pem(24px);
        line-height: 125%;
        text-align: left;
        text-transform: lowercase;
    }

    h1 {
        font-size: pem(150px);
        line-height: 100%;
        text-align: center;
        letter-spacing: -0.02em;
        margin-bottom: pem(100px, 150px);
    }

    .container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: 0 pem(107px);

        &>* {
            h3 {
                font-size: pem(40px);
                line-height: 100%;
                letter-spacing: -0.01em;
                margin-bottom: pem(15px, 40px);
            }
        
            .desc {
                font-size: pem(20px);
                line-height: 125%;
                margin-bottom: pem(30px, 20px);
            }
        
            .footnote {
                font-size: pem(13px);
                line-height: 150%;
                margin-bottom: -20px;
                margin-top: pem(30px, 13px);
            }

            &::before {
                content: '1';
                position: absolute;
                font-size: pem(48px);
                font-family: 'Coanda';
                left: pem(-53px, 48px);
                top: pem(19px);
                line-height: 100%;
                color: white;
            }

            &:nth-of-type(1n)::before {
                content: '1';
            }

            &:nth-of-type(2n)::before {
                content: '';
            }

            &:nth-of-type(3n)::before {
                content: '2';
            }

            &:nth-of-type(4n)::before {
                content: '';
            }

            &:nth-of-type(5n)::before {
                content: '3';
            }

            &:nth-of-type(6n)::before {
                content: '4';
            }

            &:last-of-type::before {
                content: '';
            }
        }

        .widecard {
            position: relative;
            width: pem(1017px);
            padding: pem(50px) 0;
            margin: 0 pem(60px);
        }

        .card {
            position: relative;
            width: pem(450px);
            padding: pem(50px) 0;
            margin: 0 pem(60px);
        }
    }
}

@include for-mobile() {
    .application {
        .container {
            padding: 0 pem(25px);
        }
    }
}

.disabled {
    opacity: 0.5;
    h4, p {
        text-decoration: line-through;
    }
}

.infosession {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    margin-bottom: pem(30px);

    &:last-of-type {
        margin-bottom: 0;
    }

    &.ended {
        opacity: 0.5;

        .dates {
            
            h4, p {
                text-decoration: line-through;
            }
        }
        
        .zoomlink:hover {
            cursor: default;
        }
    }

    .dates {
        flex-grow: 1;
        h4 {
            font-size: pem(18px);
            line-height: 125%;
            margin-bottom: pem(4px, 18px);
        }
    
        p {
            font-size: pem(24px);
            line-height: 125%;
            letter-spacing: -0.01em;
        }
    }
}

.font1 { 
    font-family: 'Coanda';
    font-size: pem(24px);
}

.choices {
    margin-bottom: pem(30px);

    .heading {
        font-size: pem(18px);
        line-height: pem(21px);
        letter-spacing: -0.01em;
        margin-bottom: pem(10px);
    }

    ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        row-gap: pem(10px);
        margin: 0;
        padding: 0;

        li {
            position: relative;
            padding-left: pem(20px);
            list-style: none;

            &::before {
                content: 'a.';
                position: absolute;
                font-family: 'Coanda';
                left: 0;
                top: 0;
                font-size: pem(18px);
                line-height: 100%;
                color: white;
            }

            &:nth-of-type(2n)::before {
                content: 'b.';
            }

            &:nth-of-type(3n)::before {
                content: 'c.';
            }

            &:nth-of-type(4n)::before {
                content: 'd.';
            }

            p {
                font-size: pem(24px);
                letter-spacing: -0.01em;
            }
        }
    }
}

.keepmind {
    display: flex;
    justify-content: center;
    padding: 0 10%;
    margin: pem(50px) 0;

    h1 {
        font-size: pem(80px);
        line-height: 100%;
        letter-spacing: -0.02em;
        width: pem(525px, 80px);
        margin-top: pem(15px, 80px);
        text-align: center;
        margin-right: pem(5px, 80px);
    }

    ul {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        flex-shrink: 6;
        padding: 0;

        li {
            position: relative;
            list-style: none;
            width: pem(280px);
            padding-left: pem(20px);
            margin: 0 22.5px;

            h3 {
                font-size: pem(24px);
                line-height: 125%;
                letter-spacing: -0.02em;
                margin-bottom: pem(12px, 24px);
            }

            p {
                font-size: pem(18px);
                line-height: 150%;
                margin-bottom: pem(60px);
            }

            &::before {
                content: '1';
                position: absolute;
                font-size: pem(18px);
                font-family: 'Coanda';
                left: pem(-10px);
                top: pem(8px);
                line-height: 100%;
                color: white;
                font-weight: 700;
            }

            &:nth-of-type(2n)::before {
                content: '2';
            }

            &:nth-of-type(3n)::before {
                content: '3';
            }

            &:nth-of-type(4n)::before {
                content: '4';
            }

            &:nth-of-type(5n)::before {
                content: '5';
            }

            &:last-of-type::before {
                content: '';
            }
        }
    }
}

@include for-mobile() {
    .keepmind {
        padding: 0 pem(25px);

        ul {
            li {
                width: 65%;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .keepmind {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1118px) {
    .container {
        .widecard {
            width: pem(450px) !important;
        }
    }
}